@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto";
}

.wrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.desktop-header {
    background-image: url("/public/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -200px;
    padding: 100px;
    color: #fff;
    box-shadow: 5px 5px 10px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    text-decoration: none;
    color: #000;
}

footer {
    text-align: center;
    background-color: #44a0d8;
    color: #fff;
    padding: 50px;
    margin-top: auto;
}

menu li {
    list-style: none;
    display: inline-block;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

.nav-link {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;
    transition: all 0.5s ease-out;
}

.nav-link:hover {
    background-color: #000;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.auth-form {
    margin-top: 10%;
}

.auth-form input {
    display: block;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    border: 1px solid #000;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #44a0d8;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-out;
    font-size: 1em;
}

.auth-form button:hover {
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #149cb4;
}

.social-signin-btn {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--bs-purple);
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-out;
}

.line-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 0.1em;
    margin: 20px 0 20px;
}

.line-text-content {
    background: #fff;
    padding: 0 10px;
}

.responsive-header {
    display: none;
}

.book-flight-form-wrapper {
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .search-form {
        width: 100%;
        margin: 5% 0 3% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        box-shadow: 2px 2px 8px #000;
    }

    .search-form input {
        margin: 2% 1% 0 2%;
    }

    .search-form button {
        margin-top: 2%;
    }

    .desktop-header {
        display: none;
    }

    .responsive-header {
        background-color: #fff;
        padding: 50px;
        color: #000;
        box-shadow: 5px 5px 10px #000;
        display: block;
    }

    .about {
        margin: 3% 0 3% 0;
    }

    .nav-link {
        text-decoration: none;
        color: #000;
        background-color: #fff;
        margin: 5px;
        padding: 0;
        transition: all 0.5s ease-out;
        border: none;
    }

    .nav-link:hover {
        text-decoration: underline;
        background-color: #fff;
        color: #000;
    }

    .book-flight-section {
        width: 95% !important;
    }

    .booking-confirmation {
        margin: 0 3% 0 3%;
    }

    .book-flight-form-wrapper {
        width: 80%;
    }
}

.search-form {
    width: 100%;
    margin: 5% 0 3% 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 2px 2px 8px #000;
}

.search-form input {
    padding: 10px;
    margin: 0 1% 0 1%;
}

.search-form button {
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #44a0d8;
    transition: all 0.5s ease-out;
}

.search-form button:hover {
    cursor: pointer;
    background-color: #149cb4;
}

.search-results {
    background-color: #fff;
    width: 100%;
    box-shadow: 2px 2px 8px #000;
}

.search-results h3 {
    text-align: center;
}

.single-search-result {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.contact-form {
    margin-top: 10%;
}

.contact-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    border: 1px solid #000;
}

.contact-form textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}

.contact-form button {
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    border: none;
}

.contact-form button:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

.search-container {
    width: 60%;
    margin: 0 20% 0 20%;
}

.arrow-icon {
    margin: 0 5px 0 5px;
}

.book-flight-btn {
    text-decoration: none;
    color: #fff;
    background-color: #44a0d8;
    padding: 10px 15px 10px 15px;
    transition: all 0.5s ease-out;
}

.book-flight-btn:hover {
    background-color: #149cb4;
    color: #fff;
}

.book-flight-container {
    display: flex;
    justify-content: flex-end;
}

.book-flight-section {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.book-flight-section form {
    padding: 20px;
}

.book-flight-section form>* {
    margin: 20px 0 20px 0;
}

.payment-method-select {
    width: 60%;
}

.book-flight-section form button[type=submit] {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    width: 30%;
}

.book-flight-section form button[type=submit]:hover {
    cursor: pointer;
}

.book-flight-section-details {
    text-align: left;
    margin: 15px 0 0 15px;
}

.book-flight-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.available-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.available-tickets label {
    display: inline-block;
    margin: 5px;
}

.ticket-box {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.user-details {
    margin: 5% 0 20px 0;
}

.user-details p {
    text-align: justify;
}

.user-edit-buttons {
    margin-bottom: 20px;
}

.user-tickets section {
    border: 1px solid #ddd;
    padding: 10px;
}

.edit-account-btn {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 5px;
    margin: 0 5px 0 5px;
    transition: all 0.5s ease-out;
}

.edit-account-btn:hover {
    background-color: #000;
    color: #fff;
}

.about {
    width: 60%;
    text-align: center;
}

.about section {
    margin-top: 3%;
}

.about section p {
    text-align: justify;
}

.booking-confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.booking-confirmation p {
    margin-top: 3%;
    font-weight: bold;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 20px;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .page-link {
        transition: none;
    }
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
}

.page-link:focus {
    z-index: 3;
    color: var(--bs-pagination-focus-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: var(--bs-pagination-focus-box-shadow);
}

.page-link.active,
.active>.page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}

.page-link.disabled,
.disabled>.page-link {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color);
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-item:first-child .page-link {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.page-item:last-child .page-link {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.pagination-lg {
    --bs-pagination-padding-x: 1.5rem;
    --bs-pagination-padding-y: 0.75rem;
    --bs-pagination-font-size: 1.25rem;
    --bs-pagination-border-radius: 0.5rem;
}

.pagination-sm {
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-padding-y: 0.25rem;
    --bs-pagination-font-size: 0.875rem;
    --bs-pagination-border-radius: 0.25rem;
}